@charset "UTF-8";

/* 共通部分 
----------------------------------*/
html{
    font-size: 100%;
}
body{
    font-family: 'Noto Sans JP', "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    line-height: 1.7;
    color: #1d1d1f;

    /* body要素の表示領域を確保 */
    min-height: 100vh;
    /* 相対位置に指定 */
    position: relative;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

/* ヘッダー 
---------------------------------- */
/* ハンバーガーメニューを非表示 */
.hamburger{
    display: none;
}
.mobile-logo{
    display: none;
}
.logo{
    padding: 8px 0 8px 30px;
    color: #1d1d1f;
    display: flex;
    /* アニメーション時間を指定 */
    transition: all 0.3s;
}
.logo h1{
    font-family: 'Yomogi', cursive;
    font-size: 1.4rem;
}
.logo img{
    height: 38px;
    width: 38px;
}
.main-nav{
    /* font-family: 'Yomogi', cursive; */
    font-weight: 300;
    display: flex;
    font-size: 1.2rem;
    padding: 10px 30px 8px 0;
    list-style: none;
}
.main-nav li{
    margin-left: 60px;
}
.main-nav a{
    color: #1d1d1f;
    transition: all 0.3s;
}
/* マウスが重なったとき */
.main-nav a:hover,
.logo:hover{
    filter: brightness(4);
}

/* ヘッダー全体 */
.page-header{
    /* ヘッダーを固定 */
    position: fixed;
    display: flex;
    justify-content: space-between;
    /* 背景色 */
    background-color: rgb(255, 255, 255);
    font-weight: normal;
    /* 影 */
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.28);
    /* サイズ */
    width: 100%;
    top: 0;
    left: 0;
    /* 最前面に配置 */
    z-index: 100;
}
.wrapper{
    max-width: 1980px;
    margin: 0 auto;
}

/* モバイル用メニューを非表示 */
#mobile-nav{
    display: none;
}

/* home 
------------------------------------- */

/* home要素の背景画像 */
.home-content{
    /* 背景画像 */
    background-image: url("../images/home_bg.jpg");
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-title{
    font-size: 3.75rem;
    line-height: 1;
    font-family: 'Yomogi', cursive;
    font-weight: normal;
    color: #1d1d1f;
    text-align: center;
}

/* 見出し */
.page-title{
    font-size: 3.75rem;
    font-family: 'Yomogi', cursive;
    font-weight: normal;
    color: #1d1d1f;
    text-align: center;
}

/* works
----------------------------------------------------- */
#works{
    /* 背景色 */
    background-color: #fbfbfd;
}
.works-contents{
    /* 縦並び */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item{
    width: 60%;
    margin: 5% 0;
}
.item img{
    object-fit: cover;
    transition: all 0.3s;
    /* 影 */
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 8%);
    border-radius: 20px;
}
.item img:hover{
    box-shadow: 2.5px 4.5px 12px rgba(0, 0, 0, 16%);
    transform: scale(1.01, 1.01);
}
/* アイテムのタイトル */
.item-title{
    color: #1d1d1f;
    /* font-family: 'Yomogi', cursive; */
    font-weight: 300;
    font-size: 1.875rem;
}
/* アイテムの説明文 */
.item-description{
    font-weight: 100;
    color: #1d1d1f;
    font-size: 1.25rem;
    /* font-family: 'Yomogi', cursive; */
}

/* about(Profile)
----------------------------------------------- */
.about-content{
    padding: 3% 0 0 0;
    color: #1d1d1f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    margin: 30px 15px 0 0;
}
.about-content h3{
    font-size: 1.875rem;
    font-weight: 300;
    padding: 3% 0;
}
.about-content p{
    text-align: left;
    font-weight: 100;
    font-size: 1.25rem;
}
#sns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0 2% 0;
}
.sns-icon{
    width: 40px;
    height: 40px;
    margin-left: 40px;
    border-radius: 50%;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 8%);
    transition: all 0.3s;
}
.sns-icon:hover{
    box-shadow: 2.5px 4.5px 12px rgba(0, 0, 0, 16%);
    transform: scale(1.03, 1.03);
}

/* contact
----------------------------------------------------------- */
#contact{
    background-color: #fbfbfd;
}
.contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

/* フッター 
-------------------------------------------------------------*/
footer{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 8px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.080);
}
footer p{
    font-weight: 100;
    color: #1d1d1f;
    font-size: 1rem;
}


/* モバイル版
-------------------------------------------------------------------------------
------------------------------------------------------------------------------------ */
@media(max-width:600px){

    /* header */
    .page-header{
        justify-content: space-between;
    }

    /* ハンバーガーメニュー */
    .open-image{
        background-image: url("../images/open-menu.png");
        background-size: contain;
        transition: 0.7s;
    }
    .close-image{
        background-image: url("../images/close-menu.png");
        background-size: contain;
        transform: rotateX(180deg);
        transition: 0.3s;
    }
    .hamburger{
        display: block;
        width: 30px;
        height: 30px;
        margin:10px;
    }
    .logo{
        padding-left: 10px;
    }
    .logo img{
        width: 38px;
        height: 38px;
    }
    .main-nav{
        font-size: 1rem;
        margin-right: 5px;
        display: none;
    }
    .main-nav li{
        margin: 0 0 0 20px;
    }

    /* モバイル用メニュー */
    #mobile-nav{
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        font-family: 'Yomogi', cursive;
        font-size: 1.875rem;
        /* 背景色 */
        background-color: rgba(255, 255, 255, 0.98);
        padding: 50px;
        /* 最前面のひとつ下に */
        z-index: 99;
        /* 上に逃がす */
        top: -100vh;
        left: 0;
        transition: all 0.7s;
    }
    #mobile-nav li{
        list-style: none;
    }
    #mobile-nav a{
        color: #1d1d1f;
    }
    /* モバイル用メニューの表示切り替え */
    .show{
        transform: translate3d(0, 100vh, 0);
    }

    /* home */
    .home-content{
        background-image: url("../images/mobile-home_bg.jpg");
    }
    .home-title{
        font-size: 1.875rem;
    }
    .page-title{
        font-size: 1.875rem;
    }


    
    /* works */
    .item-title{
        font-size: 1.25rem;
    }
    .item-description{
        font-size: 1rem;
    }

    /* about */
    .icon{
        width: 60px;
        height: 60px;
    }
    .about-content h3{
        font-size: 1.25rem;
    }
    .about-content p{
        font-size: 1rem;
        text-align: left;
    }
    .sns-icon{
        width: 30px;
        height: 30px;
        margin-left: 15px;
    }
    
    /* contact */
    .contact-content{
        padding: 30px 0;
    }
    /* フォームのサイズ */
    .contact-content iframe{
        height: 750px;
        width: 100%;
    }

/* /モバイル版 
-----------------------------------------------------*/
}